<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<div th:fragment="recently">
	<div th:each="task : ${tasksmodel}" class="max-w-md mx-auto bg-gray-200 shadow-md rounded-md overflow-hidden mb-2">
		<div class="bg-green-500 py-4 px-6 flex items-center justify-between">
			<div class="text-xl font-semibold" th:text="${task.taskname}">タスク名</div>
			<div class="text-sm">
				<p>担当者: <span th:text="${username}"></span></p>
				<p>優先度: <span class="ml-2" th:text="${task.priorityID}"></span></p>
			</div>
		</div>
		<div class="p-2 border-b">
			<h2 class="text-lg font-semibold mb-2">内容</h2>
			<p th:text="${task.content}" class="text-gray-700"></p>
		</div>
		<div class="p-2">
			<h2 class="text-lg font-semibold mb-2">開始日、期限、見積もり</h2>
			<div class="flex items-center space-x-4">
				<div>
					<span class="text-gray-600">開始日:</span>
					<span th:text="${#temporals.format(task.startdate, 'yyyy-MM-dd')}"></span>
				</div>
				<div>
					<span class="text-gray-600">期限:</span>
					<span th:text="${#temporals.format(task.deadlinedate, 'yyyy-MM-dd')}"></span>
				</div>
				<div>
					<span class="text-gray-600">見積もり:</span>
					<span th:text="${task.Requiredtime}"></span>
				</div>
			</div>
		</div>
		<button class="display-detail-btn bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" th:data-task-id="${task.ID}">詳細表示</button>

	</div>

</div>