<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.aguglia.mapper.TaskDetailMapper">
	<select id="IDtoTask" parameterType="java.lang.String"
		resultType="io.github.aguglia.model.TaskModel">
		SELECT
			tt.タスク管理id AS ID,
			tt.タスク名 AS taskname,
			tt.開始日 AS startdate,
			tt.期日 AS deadlinedate,
			tt.かかる時間 AS Requiredtime,
			tt.内容 AS content,
			tt.コメント AS coment,
			tp.優先度名 AS priority
		FROM
			t_tasks tt
		INNER JOIN
			t_priorities tp
			ON tt.優先度 = tp.優先度ID
		WHERE
			タスク管理id = #{taskID, jdbcType=VARCHAR}
	</select>
	<select id="TaskSmallget" parameterType="java.lang.String"
		resultType="io.github.aguglia.model.TaskSmallModel">
		SELECT
			内容 AS content,
			小タスクID AS SmallID,
			タスク管理ID AS TaskID,
			完了フラグ AS compleate
		FROM
			t_small_task
		WHERE
			タスク管理id = #{taskID, jdbcType=VARCHAR}
			AND 削除フラグ = FALSE
	</select>
</mapper>