<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.aguglia.mapper.TaskUpdateMapper">
    <update id="TaskUpdate" parameterType="io.github.aguglia.model.TaskModel">
        UPDATE t_tasks
        SET
            タスク名 = #{taskname},
            開始日 = #{startdate},
            期日 = #{deadlinedate},
            かかる時間 = #{Requiredtime},
            内容 = #{content},
            コメント = #{coment},
            完了フラグ = #{complete},
            優先度 = (SELECT 優先度ID FROM t_priorities WHERE 優先度名 = #{priority})
        WHERE
            タスク管理ID = #{ID}
    </update>

</mapper>