<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.aguglia.mapper.TaskRecentlyMapper">
	<select id="taskRecently" parameterType="java.lang.String"
		resultType="io.github.aguglia.model.TaskModel">
		SELECT
			tt.タスク管理id AS ID,
			tt.タスク名 AS taskname,
			tt.開始日 AS startdate,
			tt.期日 AS deadlinedate,
			tt.かかる時間 AS Requiredtime,
			tt.内容 AS content,
			tp.優先度名 AS priority
		FROM
			t_tasks tt
		LEFT JOIN
			t_priorities tp
			ON tt.優先度 = tp.優先度ID
		WHERE
			tt.完了フラグ = FALSE
			AND tt.削除フラグ = FALSE
			AND tt.ユーザ管理id = #{userID, jdbcType=VARCHAR}
			AND tt.期日 >= CURRENT_DATE
		ORDER BY
			tt.期日 ASC
		LIMIT 2
	</select>
</mapper>